In [40]:
import yfinance as yf
import pandas as pd
import math

cash = 1000


# List of stock tickers
tickers = ['NVDL', 'BITX', 'BITO', 'FNGU', 'UPRO', 'SPMO', 'BULZ', 'TQQQ', 'SMH', 'XMMO', 'EPI']#, 'QDV5'

dfGlobal = []

globalMap = {}

# List to hold dataframes
dfs = {}

# Fetch data for each ticker

for ticker in tickers:
    print(f"Downloading data for {ticker}...")
    data = yf.download(ticker, start="2024-01-01", end="2024-07-01")
    dfGlobal.append(data)  # Append the dataframe to the list
    globalMap[ticker] = data.reset_index()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Downloading data for NVDL...
Downloading data for BITX...
Downloading data for BITO...
Downloading data for FNGU...
Downloading data for UPRO...
Downloading data for SPMO...
Downloading data for BULZ...
Downloading data for TQQQ...
Downloading data for SMH...
Downloading data for XMMO...
Downloading data for EPI...

In [41]:
globalMap['NVDL']

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-01-02,14.736667,14.813333,14.049667,14.325000,14.325000,3060600
1,2024-01-03,13.985000,14.302333,13.935000,14.046667,14.046667,2245200
2,2024-01-04,14.110000,14.430833,14.000000,14.218333,14.218333,1631400
3,2024-01-05,14.410000,14.890000,14.366667,14.693333,14.693333,1886400
4,2024-01-08,14.888333,16.118334,14.886667,16.118334,16.118334,3864600
...,...,...,...,...,...,...,...
119,2024-06-24,70.019997,71.400002,64.000000,64.059998,64.059998,29354000
120,2024-06-25,67.355003,73.139999,65.349998,72.870003,72.870003,25772500
121,2024-06-26,72.709999,74.959999,68.650002,73.029999,73.029999,24933600
122,2024-06-27,70.300003,72.889999,68.900002,70.139999,70.139999,12081200
123,2024-06-28,70.800003,74.309998,68.760002,69.550003,69.550003,17977800